.contacts {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 40px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 64px;
}

.subtitle{
    font-size: 32px;
}

.contacts_content {
    display: flex;    
}
